<!DOCTYPE html>
<html>
<head>
  <title>SiteStash</title>
  <meta name="viewport" contenct="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="navbar" class="navbar navbar-default navbar-fixed-top">
      <%= link_to "SiteStash", root_path, class: "navbar-brand" %>
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "View Profile", user_path(current_user) %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="yield" class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>


  </div>
</body>
</html>
